body {
    font-family: sans-serif;
    display: flex;
}

h1 {
    color: white;
}

.mediumScreen {
    background-color: #9b59b6;
}

.bigScreen {
    background-color: #f1c40f;
}

.smallScreen {
    background-color: #3498db;
}